[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.{cs,vb}]
charset = utf-8 bom

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false

# IDE0028: Use collection initializers
# dotnet_style_collection_initializer = false:suggestion

dotnet_diagnostic.SA1000.severity = warning

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1413: Use Trailing Commas In MultiLine Initializers
dotnet_diagnostic.SA1413.severity = none
